/* ManageUserPage.css */

/* Table styles */
/* ManageUserPage.css */

  
.toastifyconatiner{
    width: 700px;
    position: relative;
    background-color: green;
    color: #ffffff;
    right: 400px;
    top: 100px;
  }
  #adduser{
    margin: 10px;
}
  /* Table header styles */
  /* .table th {
    text-align: left;
    background-color: #f2f2f2; 
    border: 1px solid #ddd;
  }
  
  .table td {
    padding: 8px;
    border: 1px solid #ddd;
  } */
  
  /* Alternating row colors */
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9c8; /* White background color for even rows */
  }
  
  /* Search bar styles */
  #txtsearch {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
  }
  
  /* Pagination button styles */
  #btnofnext  {
    float: right;
  }
  
  /* Button styles */
  .btn {
    cursor: pointer;
  }
  
  /* Adjust individual table column widths */
  #Myusername {
     /* Adjust the width of Username column */
  }
  
  #Myemail {
     /* Adjust the width of Email column */
  }
  
  #Myname {
     /* Adjust the width of Name column */
  }
  
  #Myphone {
     /* Adjust the width of Phone column */
  }
  
  #Mygroup {
   /* Adjust the width of Group column */
  }
  
  #Myaction {
     /* Adjust the width of Action column */
  }
  