.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes at least the height of the viewport */
}

.main-content {
  flex: 1; /* Allow the main content to grow to fill available space */
}